1. Create a list of the 10 elements of four different types of Data Type like int, string, complex and float.

In [6]:
lists =['kiran', 2, 5, "adhikari", 2.5,2+3j, 3.5, 3, 'python', 8]
lists

['kiran', 2, 5, 'adhikari', 2.5, (2+3j), 3.5, 3, 'python', 8]

2. Create a list of size 5 and execute the slicing structure.

In [7]:
inputs=list(range(1,6))

In [8]:
inputs

[1, 2, 3, 4, 5]

In [10]:
# i have use index number for slicing the value from the lists, indexig starts from zero and we can use negative
#indexing number to get slicing from end.
inputs[0]

1

In [12]:
inputs[1]

2

In [13]:
inputs[3]

4

3.Write a program to get the sum and multiply of all the items in a given list.

In [10]:
# let's store the sum in the variable total 
inputs=[1,2,3,4,5]
total=0
ele=0
while(ele<len(inputs)):
    total=total+inputs[ele]
    ele+=1
print(total)

15

In [19]:
inputs=[1,2,3,4,5]
mul=1
ele=0
while(ele<len(inputs)):
    mul=mul*inputs[ele]
    ele+=1
print(mul)

120

4. Find the largest and smallest number from a given list.

In [20]:
min(inputs)

1

In [21]:
max(inputs)

5

6. Create a new list which contains the specified numbers after removing the even numbers from a predefined list.

In [23]:
num_list=[1,2,3,4,5,6,7,8]
num_list=[i for i in num_list
         if i%2!=0]
print(num_list)

[1, 3, 5, 7]

6. Create a list of first and last 5 elements where the values are square of numbers between 1 and 30
(both included).

In [28]:
def square_num():
    L=list()
    for i in range(1,30):
        L.append(i**2)
    print(L[:5])#first five element 
    print(L[-5:]) # Last five element
    
square_num()

[1, 4, 9, 16, 25]
[625, 676, 729, 784, 841]

7. Write a program to replace the last element in a list with another list. 

Sample data: [[1,3,5,7,9,10],[2,4,6,8]] 

Expected output: [1,3,5,7,9,2,4,6,8]

In [29]:
list1=[1,3,5,7,9,10]
list2=[2,4,6,8]
list1[-1:]=list2
print(list1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

8. Create a new dictionary by concatenating the following two dictionaries: 

a={1:10,2:20} 

b={3:30,4:40} 

Expected Result: {1:10,2:20,3:30,4:40}

In [4]:
a={1:10, 2:20}
b={3:30,4:40}
c=a.update(b)
print(a)

{1: 10, 2: 20, 3: 30, 4: 40}

In [6]:
print(c)

None

9 Create a dictionary that contains a number (between 1 and n) in the form(x,x*x). 

Sample data (n=5)

In [7]:
n=int(input("Enter the number"))
d=dict()
for i in range(1,n+1):
    d[i]=i*i
print(d)

Enter the number5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

10. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 

34,67,55,33,12,98 

The output should be: 

[‘34’,’67’,’55’,’33’,’12’,’98’] 

(‘34’,’67’,’55’,’33’,’12’,’98’)

In [11]:
values=input()
l=values.split(",")
print(l)
t=tuple(l)
print(t)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')